<h1>showing selecting article</h1>

<p>
  Title: <%= @article.title%>
</p>

<p>
   Description: <%= @article.description %>
</p>

<p>
  <h5><%= link_to 'Show all articles', articles_path %> </h5>
  <h5><%= link_to 'Edit', edit_article_path(@article) %> </h5>
</p>