@import "bootstrap";
@import "bootstrap/dist/css/bootstrap";

.navbar-custom {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width:100%;
}

#logo{
  float: left;
  color: rgb(255, 86, 86);
  text-transform: uppercase;
  letter-spacing: -1px;
}  
#logo:hover{
    color: rgb(0, 0, 0);
}  

.btn-space {
    margin: 30px;
}
.article-form{
    margin-top: 50px;
    padding-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    align-content: center;
}
.custom-space{
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.center {
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
  }
.show-article{
    margin-top: 90px;
    padding-top: 90px;
    padding: 10px;
    text-align: center;
}
