@import "bootstrap";
@import "bootstrap/dist/css/bootstrap";

.navbar-custom {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width:100%;
}

#logo{
  float: left;
  color: rgb(255, 86, 86);
  text-transform: uppercase;
  letter-spacing: -1px;
}  
#logo:hover{
    color: rgb(0, 0, 0);
}  
.float-right {
    right: 0%;
}
